html
  head
    title My Profile
    meta(name='description', content='Profile')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style.css')
  body
    div.center.profileContainer
      h1.center User Profile
      div#welcomeMessage
        h2.center Welcome, #{username}!
      a(href='/logout').center Logout
      block footer
        include footer.pug
      
  